@import '../../aditional/colors.css';

.content_header {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  font-size: 30px;
  margin: 0 auto;

  z-index: 200;
}

.header-top {
  display: none;
}
.header-right {
  height: 100%;
  width: 95px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  top: 0%;
  right: 0%;
  margin: 0 auto;
  background-color: var(--background-color);
  box-shadow: 0px 0px 5px 0px var(--shadow-card);

  z-index: 199;
}

#Darkbutton {
  display: flex;
  margin: 40px auto;
  font-size: 30px;

  z-index: 200;
}
.x {
  margin: 20px auto 0;
  max-width: 200px;
}

polygon {
  fill: rgba(255, 255, 255, 0.002);
  stroke: var(--arrow-hover);
  stroke-width: 5;
  transition: all 250ms linear 0.05s;
}

polygon:hover {
  fill: rgba(255, 255, 255, 0.002);
  stroke: var(--arrow);
  stroke-width: 8;
  cursor: pointer;
  transition: all 200ms linear 0.05s;
}

.active,
.btn:hover {
  stroke: var(--arrow);
}

.scroll-downs {
  /* position: absolute; */
  display: flex;
  /* right: 0; */
  /* bottom: 5%; */
  /* left: 0; */
  margin: 40px auto;

  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid var(--arrow-hover);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--arrow-hover);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
.scroll-downs:hover .mousey {
  border: 2px solid var(--arrow);
  cursor: pointer;
  transition: all 250ms linear 0.05s;
}
.scroll-downs:hover .scroller {
  background-color: var(--arrow);
  transition: all 250ms linear 0.05s;
  animation-name: scroll-hover;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(8px);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

@keyframes scroll-hover {
  0% {
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 850px) {
  .header-right {
    display: none;
  }

  .header-top {
    display: block;
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    top: 0%;
    right: 0%;
    margin: 0 auto;
    background-color: var(--background-color);
    box-shadow: 0px 0px 5px 0px var(--shadow-card);

    z-index: 199;
  }
}
